<h1><%= "#{@studio.name}" %></h1>

<p>Location: <%= "#{@studio.location}" %></p>

<ul>Movie Titles</ul>
<% @studio.movies.each do |movie| %>
  <li><%= movie.title %></li>
<% end %>

<ul>Actors</ul>
<% @movies.each do |movie| %>
  <% movie.working_actors.each do |actor| %>
    <li><%= actor.name %></li>
  <% end %>
<% end %>


