<h1><%= @studio.name %></h1>
<h2><%= @studio.location %></h2>

<h3>Studio Movies</h3>
<% @studio.movies.each do |movie| %>
  <p>&emsp;<%= movie.title %></p>
<% end %>

<h3>Studio Movies Actors</h3>
<% @studio.actors_list.each do |actor| %>
  <p>&emsp;<%= actor.name %></p><br/>
<% end %>
<br/><br/>
